*{
    padding: 0;
    margin: 0;
    color: white;
    font-family: sans-serif;
}

body{
    background-color: #001;
}

.img-box{
    width: 50px;
    height: 50px;
}

.img-box img{
    width: 100%;
}

.menu{
    background-color: #123;
    width: 260px;
    height: 100vh;
    padding: 20px;
}


.menu ul{
    list-style: none;
    position: relative;
    height: 95%;
}

.menu ul li a{
    display: block;
    text-decoration: none;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 40px;
    transition: 0.3s;
}


.menu ul li a:hover, .active{
    background-color: #ffffff55;
}

.menu ul li a i{
    font-size: 30px;
}

.menu ul .log-out{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.menu ul .log-out a{
    background-color: #a00;
}

